html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
}

.profile-card {
    margin-bottom: 20px;
}

.profile-info {
    text-align: left;
    margin-bottom: 15px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.bottom-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.panel-button {
    background-color: #00a3cc;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-button:hover {
    background-color: #007ea0;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .panel-button {
        width: 50px;
        height: 50px;
        font-size: 14px;
    }
}
