body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9f4f9;
    color: #495057;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    text-align: center;
    max-width: 500px;
    width: 100%;
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
}

.profile-card {
    margin-bottom: 30px;
}

.profile-info {
    text-align: left;
    margin-bottom: 20px;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #00a3cc;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #007ea0;
}

/* Контейнер для кнопок */
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    gap: 10px; /* Отступ между кнопками */
    margin-top: 20px;
}

.action-button {
    width: 100%; /* Кнопки занимают всю ширину ячейки */
    padding: 15px;
    font-size: 16px;
    background-color: #00a3cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #007ea0;
}

/* Адаптивность */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .button-container {
        grid-template-columns: 1fr; /* 1 колонка на мобильных устройствах */
    }

    .action-button {
        padding: 12px;
        font-size: 14px;
    }
}
